html {
	background-color: whitesmoke;
	padding-left: 15px;
	padding-right: 15px;

}

.heading {
	text-align: center;
	background-color: lightgray;
	color:black;
}


h2 {

   background-color: lightgray;
   color:black;
}

.experience p {

	padding-right: 300px;
}